<h1>{{filme.Title}}</h1>
<img src="{{filme.Poster}}" alt="Capa do filme {{filme.Title}}" width="200">
<p><strong>Ano: </strong> {{filme.Year}}</p>
<p><strong>Sinopse: </strong> {{filme.Plot}}</p>
<p><strong>Diretor: </strong> {{filme.Director}}</p>
<p><strong>Elenco: </strong> {{filme.Actors}}</p>
<p><strong>Avaliações do IMDB: </strong> {{filme.imdbRating}}</p>