    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes e Avaliações</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-dark text-light">

        {{#if error}}
            <div class="alert alert-danger text-center">{{error}}</div>
        {{/if}}
          <!-- Imagens iniciais (exibidas apenas se não houver filmes) -->
    {{#unless filmes}}
    <div class="container text-light">
        <h2>FILMES</h2>
    </div>
    <div class="container" id="initialImages">
        <div class="row">
            <div class="col-md-3">
                <img src="img/Barbie-Raio-Click.png" class="img-fluid" alt="...">
                </div>
            <div class="col-md-3">
                <img src="img/Pobres-Criaturas-Raio-Click.webp" class="img-fluid" alt="...">
                </div>
            <div class="col-md-3">
                <img src="img/6485851685_5ba8072e9e_z.jpg" class="img-fluid" alt="...">
                </div>
            <div class="col-md-3">
                <img src="img/Capa de Filme 1.jpg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
{{/unless}}

        {{#if filmes}}
            <h2 class="text-center mt-5 mb-5">Resultados da pesquisa:</h2>
            <div class="container" >
                <div class="row" >
                    {{#each filmes}}
                        <div class="col-md-3 mb-4" >
                            <div class="card">
                                <a href="/filmes/{{this.imdbID}}" class="card-img-top"> 
                                    <img src="{{this.Poster}}" class="card-img-top" alt="Capa do filme {{this.Title}}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/filmes/{{this.imdbID}}" class="text-dark">{{this.Title}} ({{this.Year}})</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
</body>
</html>